@import url(https://pro.fontawesome.com/releases/v5.11.2/css/all.css);
:root {
  --user-button-circle: rgba(0,0,0,0.025);
  --user-button-cardborder: rgba(255,255,255,0.25);
  --user-button-text:#323133;
  --user-button-shadow:rgba(0,0,0,0.1);
}

.slider-container #user-button {
  z-index: 1000;
  bottom: 1rem !important;
  right: 1rem !important;
  color: var(--user-button-text);
  transition: 1s 0s ease-out;
  -webkit-animation: slide 3s ease-out forwards;
          animation: slide 3s ease-out forwards;
}
@-webkit-keyframes slide {
  0%, 50% {
    opacity: 0;
    display: block !important;
  }
  100% {
    opacity: 1;
    display: block !important;
  }
}
@keyframes slide {
  0%, 50% {
    opacity: 0;
    display: block !important;
  }
  100% {
    opacity: 1;
    display: block !important;
  }
}
.slider-container #user-button .u-card {
  border-radius: 100%;
  box-shadow: 0 0 1rem -0.25rem var(--user-button-shadow), inset 0 0 1rem -0.75rem var(--user-button-shadow);
}
.slider-container #user-button .u-main {
  cursor: pointer;
  --user-button-background:var(--user-button-main, #EC87C0);
}
.slider-container #user-button .u-main img {
  height: 100%;
  width: 100%;
}
.slider-container #user-button .u-main iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 4rem;
  height: 4rem;
  opacity: 1;
  transition: 0s 4s;
}
.slider-container #user-button .u-icons {
  position: relative;
  z-index: 950;
  transform: translate(-50%, -50%);
  background: var(--user-button-circle);
  box-shadow: 0 0 0 0.125rem var(--user-button-cardborder);
  border-radius: 100%;
  transition: 0.25s;
  opacity: 1 !important;
  -webkit-backdrop-filter: blur(10px);
          backdrop-filter: blur(10px);
  /*&:before {
     z-index:-1;
     position:absolute;
     top:0; right:0; bottom:0; left:0;
     content:'';

     backdrop-filter: blur(10px);
  }*/
}
.slider-container #user-button .u-icons a {
  color: inherit;
  display: grid;
  place-items: center;
  width: 30px;
  height: 30px;
  text-decoration: none;
}
.slider-container #user-button .u-icons a div {
  padding: 0.5rem;
  transition: 0s;
}
.slider-container #user-button .u-icons a[href="https://twitter.com/zed_dash"] {
  position: relative;
}
.slider-container #user-button .u-icons a[href="https://twitter.com/zed_dash"]:before {
  content: "Middle Click";
  position: absolute;
  top: -1.5rem;
  left: 50%;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  white-space: pre;
  transform: translateX(-50%);
  opacity: 0;
  pointer-events: none;
  transition: 0.25s ease-in;
  background: #fffc;
  padding: 0.25rem 0.5rem;
  border-radius: 0.25rem;
}
.slider-container #user-button .u-icons a[href="https://twitter.com/zed_dash"].show:before {
  opacity: 1;
  transition: 0.25s ease-out;
}
.slider-container #user-button .u-icons a[href="https://twitter.com/zed_dash"] div {
  color: #1da1f2;
}
.slider-container #user-button .u-icons a[href="https://codepen.io/z-"] div {
  background: black;
  color: white;
}
.slider-container #user-button .u-icons a.u-random div {
  position: relative;
  top: -1px;
  -webkit-animation: diespin 2s linear infinite;
          animation: diespin 2s linear infinite;
}
@-webkit-keyframes diespin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
@keyframes diespin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
.slider-container #user-button .u-icons a.u-random:not(:hover) div {
  -webkit-animation-play-state: paused;
          animation-play-state: paused;
}
.slider-container #user-button .u-icons > * {
  position: absolute;
  width: 30px;
  height: 30px;
  background: var(--singlecolour);
  border-radius: 100%;
  cursor: pointer;
  transform: translate(-50%, -50%);
  transition: 0.25s -0.05s;
}
.slider-container #user-button .u-icons > *:before {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.slider-container #user-button .u-icons > *:hover, .slider-container #user-button .u-icons > *:focus-within {
  background: var(--hcolour);
}
.slider-container #user-button .u-icons > *:first-child:nth-last-child(1):nth-child(1), .slider-container #user-button .u-icons > *:first-child:nth-last-child(1) ~ *:nth-child(1) {
  left: 25%;
  top: 25%;
}
.slider-container #user-button .u-icons > *:first-child:nth-last-child(2):nth-child(1), .slider-container #user-button .u-icons > *:first-child:nth-last-child(2) ~ *:nth-child(1) {
  left: 37.5%;
  top: 18.75%;
}
.slider-container #user-button .u-icons > *:first-child:nth-last-child(2):nth-child(2), .slider-container #user-button .u-icons > *:first-child:nth-last-child(2) ~ *:nth-child(2) {
  left: 18.75%;
  top: 37.5%;
}
.slider-container #user-button .u-icons > *:first-child:nth-last-child(3):nth-child(1), .slider-container #user-button .u-icons > *:first-child:nth-last-child(3) ~ *:nth-child(1) {
  left: 50%;
  top: 15.625%;
}
.slider-container #user-button .u-icons > *:first-child:nth-last-child(3):nth-child(2), .slider-container #user-button .u-icons > *:first-child:nth-last-child(3) ~ *:nth-child(2) {
  left: 25%;
  top: 25%;
}
.slider-container #user-button .u-icons > *:first-child:nth-last-child(3):nth-child(3), .slider-container #user-button .u-icons > *:first-child:nth-last-child(3) ~ *:nth-child(3) {
  left: 15.625%;
  top: 50%;
}
.slider-container #user-button .u-icons > *:first-child:nth-last-child(4):nth-child(1), .slider-container #user-button .u-icons > *:first-child:nth-last-child(4) ~ *:nth-child(1) {
  left: 62.5%;
  top: 18.75%;
}
.slider-container #user-button .u-icons > *:first-child:nth-last-child(4):nth-child(2), .slider-container #user-button .u-icons > *:first-child:nth-last-child(4) ~ *:nth-child(2) {
  left: 37.5%;
  top: 18.75%;
}
.slider-container #user-button .u-icons > *:first-child:nth-last-child(4):nth-child(3), .slider-container #user-button .u-icons > *:first-child:nth-last-child(4) ~ *:nth-child(3) {
  left: 18.75%;
  top: 37.5%;
}
.slider-container #user-button .u-icons > *:first-child:nth-last-child(4):nth-child(4), .slider-container #user-button .u-icons > *:first-child:nth-last-child(4) ~ *:nth-child(4) {
  left: 18.75%;
  top: 62.5%;
}
.slider-container #user-button:hover .u-icons, .slider-container #user-button:focus-within .u-icons {
  width: 300% !important;
  height: 300% !important;
}

.slider-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  /* height: 100vh; */
  font-family: "Roboto", sans-serif;
  transition: 0.25s;
}
.slider-container.dark {
  background: #232223;
  color: white;
}
@media (prefers-color-scheme: dark) {
  .slider-container:not(.light) {
    background: #232223;
    color: white;
  }
}
.slider-container .credit {
  position: absolute;
  bottom: 20px;
  left: 20px;
  color: inherit;
}
.slider-container .options {
  display: flex;
  flex-direction: row;
  align-items: stretch;
  overflow: hidden;
  min-width: 600px;
  max-width: 900px;
  width: calc(100% - 100px);
  height: 400px;
}
@media screen and (min-width: 992px) and (max-width: 1200px) {
  .slider-container .options {
    min-width: 420px;
  }
  .slider-container .options .option:nth-child(4),
  .slider-container .options .option:nth-child(5) {
    display: none;
  }
}
@media screen and (max-width: 772px) {
  .slider-container .options {
    min-width: 520px;
  }
  .slider-container .options .option:nth-child(5) {
    display: none;
  }
}
@media screen and (max-width: 638px) {
  .slider-container .options {
    min-width: 440px;
  }
  .slider-container .options .option:nth-child(4) {
    display: none;
  }
}
@media screen and (max-width: 558px) {
  .slider-container .options {
    min-width: 360px;
  }
  .slider-container .options .option:nth-child(3) {
    display: none;
  }
}
@media screen and (max-width: 478px) {
  .slider-container .options {
    min-width: 280px;
  }
  .slider-container .options .option:nth-child(2) {
    display: none;
  }
}
.slider-container .options .option {
  position: relative;
  overflow: hidden;
  min-width: 90px;
  margin: 10px;
  background: var(--optionBackground, var(--defaultBackground, #E6E9ED));
  background-size: auto 120%;
  background-position: center;
  cursor: pointer;
  transition: 0.5s cubic-bezier(0.05, 0.61, 0.41, 0.95);
  box-shadow: inset 1px 1px 60px 0px #000000ab
}
.slider-container .options .option:nth-child(1) {
  --defaultBackground:#ED5565;
}
.slider-container .options .option:nth-child(2) {
  --defaultBackground:#FC6E51;
}
.slider-container .options .option:nth-child(3) {
  --defaultBackground:#FFCE54;
}
.slider-container .options .option:nth-child(4) {
  --defaultBackground:#2ECC71;
}
.slider-container .options .option:nth-child(5) {
  --defaultBackground:#5D9CEC;
}
.slider-container .options .option:nth-child(6) {
  --defaultBackground:#AC92EC;
}
.slider-container .options .option.active {
  flex-grow: 10000;
  transform: scale(1);
  max-width: 600px;
  margin: 0px;
  border-radius: 50px;
  background-size: auto 100%;
  /*&:active {
     transform:scale(0.9);
  }*/
}
.slider-container .options .option.active .slider-shadow {
  box-shadow: inset 0 -120px 120px -120px black, inset 0 -120px 120px -100px black;
}
.slider-container .options .option.active .label {
  bottom: 20px;
  left: 20px;
}
.slider-container .options .option.active .label .info > div {
  left: 0px;
  opacity: 1;
}
.slider-container .options .option:not(.active) {
  flex-grow: 1;
  border-radius: 50px;
}
.slider-container .options .option:not(.active) .slider-shadow {
  bottom: -40px;
  box-shadow: inset 0 -120px 0px -120px black, inset 0 -120px 0px -100px black;
}
.slider-container .options .option:not(.active) .label {
  bottom: 10px;
  left: 10px;
}
.slider-container .options .option:not(.active) .label .info > div {
  left: 20px;
  opacity: 0;
}
.slider-container .options .option .slider-shadow {
  position: absolute;
  bottom: 0px;
  left: 0px;
  right: 0px;
  height: 120px;
  transition: 0.5s cubic-bezier(0.05, 0.61, 0.41, 0.95);
}
.slider-container .options .option .label {
  display: flex;
  position: absolute;
  right: 0px;
  height: 40px;
  transition: 0.5s cubic-bezier(0.05, 0.61, 0.41, 0.95);
}
.slider-container .options .option .label .icon {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  min-width: 40px;
  max-width: 40px;
  height: 40px;
  border-radius: 100%;
  background-color: white;
  color: var(--defaultBackground);
}
.slider-container .options .option .label .info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-left: 10px;
  color: white;
  white-space: pre;
}
.slider-container .options .option .label .info > div {
  position: relative;
  transition: 0.5s cubic-bezier(0.05, 0.61, 0.41, 0.95), opacity 0.5s ease-out;
}
.slider-container .options .option .label .info .main {
  font-weight: bold;
  font-size: 1.2rem;
}
.slider-container .options .option .label .info .sub {
  transition-delay: 0.1s;
}